p{
    border: 2px solid red;
    margin: 3pt;
    padding: 10pt;
    background-color: coral;
    font-size: medium;
    text-align: justify;   
}
body{
    background-color: palegoldenrod;
}
h1{
    border-bottom: 2px dotted darkolivegreen;
    color: green;
    text-align: center;
}